<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/dashboard.css"/>
    <script>
    const USER_EXISTS = "<%= userExists %>" 
    </script>
</head>
<body style="background: url('loginBackground.png');">
    <div class="login">
        <div class="login__header">
            <h6>Sign Up for skype clone</h6>
            <!--ICON HERE-->
        </div>
        <form style="display: flex; flex-direction: column;" class="signup__form" action="/createuser" method="POST">
            <label for="usernameInput"></label>
            <input class="signup__username" type="text" minlength="6" maxlength="20" name="username" id="usernameInput"/>
            <label minlength="6" maxlength="20" for="passwordInput"></label>
            <input class="signup__password" minlength="6" maxlength="20" type="password" id="passwordInput" name="password"/>
            <div class="signup__button" style="padding: 1px;">
            <input disabled id="createUserButton" type="submit" value="Create User"/>
            </div>
        </form>
    </div>
    <div class="renderSignUpWarningWrapper">
    <div class="signup__warning renderSignUpWarning" style="display: none; text-align: center;">Please enter email and password in lowercase letters.</div>
    <div class="signup__userExists renderSignUpWarning" style="display: none; text-align: center;">User already exists</div>
    </div>
    <script>
        /*function checkInput(e){
            const lowerCaseTest = RegExp("[a-z]*");
            console.log('key up')
           
    if((lowerCaseTest.test(document.querySelector('.signup__username').value) !== false) && (lowerCaseTest.test(document.querySelector('.signup__password')) !== false)){
        console.log('first conditional')   
        if((document.querySelector('.signup__username').value !== '') &&
            (document.querySelector('.signup__password').value !== '')){
                console.log('removed')
                document.querySelector('.login__submitButton').removeAttribute('disabled');
                document.querySelector('.login__submitButton').removeAttribute('disabled');
            } else {
                document.querySelector('.login__submitButton').disabled = true;
            }
        
        } else {
            document.querySelector('.login__submitButton').disabled = true ;
        }
        }*/
        if(USER_EXISTS == "User already exists"){
            document.querySelector('.signup__userExists').style.display = 'block';
            document.querySelector('.signup__username').addEventListener('focus', function(){
                document.querySelector('.signup__userExists').style.display = 'none';
            })
            document.querySelector('.signup__password').addEventListener('focus', function(){
                document.querySelector('.signup__userExists').style.display = 'none';
            })
        }
        if(USER_EXISTS == "Enter a username and password"){
            document.querySelector('.signup__warning').style.display = 'block';
            document.querySelector('.signup__username').addEventListener('focus', function(){
                document.querySelector('.signup__warning').style.display = 'none';
            })
            document.querySelector('.signup__password').addEventListener('focus', function(){
                document.querySelector('.signup__warning').style.display = 'none';
            })
        }
        function checkInput(e){
            if(document.querySelector('.signup__password').value === document.querySelector('.signup__password').value.toLowerCase()){
                console.log('1')
                if(document.querySelector('.signup__username').value === document.querySelector('.signup__username').value.toLowerCase()){
                    console.log('2')
                        document.querySelector('.login__submitButton').removeAttribute('disabled')
                } else{
                    document.querySelector('.login__submitButton').disabled = true ;
                }
            } else{
                document.querySelector('.login__submitButton').disabled = true ;
            }
        };
        document.querySelector('.signup__password').addEventListener('keydown', e => checkInput(e))
        document.querySelector('.signup__username').addEventListener('keydown', e => checkInput(e))
    </script>
</body>
</html>