body{
    margin: 0;
    padding: 0;
    background: black;
}
.dashboard{
    background: #242324;
}
.dashboard__header{
    display: flex;
    padding: 5px 20px;
    align-items: center;
    color: white;
    background: rgb(70, 69, 69);
}
.yourChatsWrapper{
    flex-grow: 0.3;
}
.friendRequests{
    flex-grow: 0.3;
}
.dashboard__header h4{
    flex: 1;
    font-size: 1.2rem;
    justify-content: center;
    display: flex;
    padding-right: 10px;
}
form{
    display: flex;
    align-items: center;
    flex: 0.5;
}
input{
    width: 100%;
    min-width: 100px;
    padding: 10px;
}
.dashboard__searchIcon__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 38px;
    background: #ff7f00;
    color: white;
    border-radius: 0px 5px 5px 0px;
}
.dashboard__searchInput{
    margin-bottom: 0px;
}
.dashboard__searchIcon{
    font-size: 30px;
}
.dashboard__logout{
    color: white;
    background: #EB534B;
    height: 38px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-weight: 600;
}
.dashboard__logout:hover{
    background: #db615b;
    cursor: pointer;
}
.dashboard__searchIcon__wrapper:hover{
    background: #dd9f63;
    cursor: pointer;
}
.dashboard__chats{
    background: #E7E7E7;
    height: calc(100vh - 80px);
}
.dashboard__searchResult:hover{
    opacity: 0.7;
    cursor: pointer
}
.search__backButton:hover{
    opacity: 0.7;
    cursor: pointer;
    font-weight: 900 !important;
}
.search__result_pending{
    background: blue !important;
    font-size: 24px;
    padding-bottom: 20px;
}
.iconPost::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f2b9";
    font-size: 24px;
    font-style: normal;
}
.dashboard__search__add{
    font-size: 12px;
}
.iconPostFriend{
    font-size: 12px;
}
.iconPostFriend::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f2b9";
    font-size: 12px !important;
    font-style: normal;
    padding-top: 5px;
}
.request__result:hover{
    opacity: 0.7;
    cursor: pointer;
}
.search__result_friend{
    background: white !important;
    color: black;
    font-weight: 12px;
    padding-bottom: 20px;
    box-sizing: contain;
    cursor: none;
}
.requests__noRequests{
    width: 100%;
    display: flex;
    height: 60vh;
    justify-content: center !important;
    align-items: center !important;  
}
.requests__noRequestsText{
    border: 1px solid white;
    background: rgba(0,0,0,0.4);
    padding: 20px;
    font-weight: 400;
    font-size: 18px;
}
.dashboard__search__add{
    padding-bottom: 5px;
    align-items: center; 
    background: green; 
    min-width: 30px; 
    display: flex; 
    flex-direction: column-reverse;
}
.login{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto auto;
    padding-top: 50px;
}
.login__form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
.login__button{
    display: flex;
    align-self: start;
    margin: 0 auto;
    width: 200px;
}
input{
    margin-bottom: 16px;
    max-width: 400px;
    box-sizing: border-box;
}
.login__header{
    font-size: 36px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 0px 4px black;
}
.login__password, #usernameInput, .signup__password{
    background: rgba(54, 54, 54, 0.74);
    color: white;
    font-weight: 900;
    font-size: 18px;
}
.login__submitButton{
    background: darkblue;
    color: white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    font-weight: 700;
    font-size: 18px;
}
.login__submitButton:hover{
    animation-name: submithover;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
@keyframes submithover{
    100%{
        opacity: 0.8;
        border-right: 2px solid white;
        border-left: 2px solid white;
        }
}
.login__signUpButton{
    color: whitesmoke;
    padding-top: 8px;
    font-weight: 700px;
    font-size: 18px;
    padding-bottom: 8px;
    background: lightsalmon;
    text-align: center;
    text-decoration: none;
    border-bottom: 2px solid salmon;
    border-top: 2px solid salmon;
    margin: 0 auto;
    width: 200px;
}
.login__signUpButton:hover{
    animation-name: signuphover;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
@keyframes signuphover{
    100%{
    opacity: 0.8;
    border-right: 2px solid salmon;
    border-left: 2px solid salmon;
    }
}
.renderSignUpWarning{
    color: red;
    font-weight: 700;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    width: 400px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 10px;
}
.renderSignUpWarningWrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.dashboard__logout{
    text-decoration: none;
}
.dashboard__searchFormWrapper{
    flex-grow: 0.3;
}
.dashboard__searchForm{
    width: 100%;
}
@media only screen and(max-width: 666px){
.dashboard__searchResults{
    top: 0px;
}
}
